<div #entityTypeElement [ngSwitch]="config.type"
     [class.outline]="showOutline"
     [ngStyle]="{ opacity: config.opacity }">
    <app-visualizer-entity *ngSwitchCase="EntityType.VISUALIZER"
                           [config]="config.entityContentConfig"
                           [animationStopTime]="config.fadeTime * 1000"
                           [oomph]="oomph"
                           [oomphAmount]="config.oomphAmount">
    </app-visualizer-entity>
    <app-image-entity *ngSwitchCase="EntityType.IMAGE"
                           [config]="config.entityContentConfig">
    </app-image-entity>
</div>
