<!-- Todo set opacity here -->
<div #entityTypeElement [ngSwitch]="type"
     [class.outline]="showOutline">
    <app-visualizer-entity *ngSwitchCase="EntityType.VISUALIZER"
                           [config]="entityContentConfig"
                           [animationStopTime]="fadeTime * 1000"
                           [oomphAmplitudes]="oomphAmplitudes"
                           [oomphAmount]="oomphAmount">
    </app-visualizer-entity>
    <app-image-entity *ngSwitchCase="EntityType.IMAGE"
                           [config]="entityContentConfig">
    </app-image-entity>
</div>
