<!-- Shared Controls -->
<app-control name="Mode">
    <p-selectButton [options]="modeOptions"
                    [(ngModel)]="config.mode"
                    optionLabel="name"
                    optionValue="value">
    </p-selectButton>
</app-control>
<app-control name="Decibel Range">
    <div class="slider-wrapper">
        <span>{{decibelRange[0]}}</span>
        <p-slider [(ngModel)]="decibelRange"
                  (onChange)="onDecibelChanged()"
                  [min]="-100"
                  [max]="0"
                  [range]="true">
        </p-slider>
        <span>{{decibelRange[1]}}</span>
    </div>
</app-control>
<app-control name="Samples">
    <p-dropdown [options]="sampleCountOptions"
                [(ngModel)]="config.sampleCount"
                placeholder="Select an option">
    </p-dropdown>
</app-control>
<app-control name="Scale">
    <div class="slider-wrapper">
        <span>{{config.scale}}</span>
        <p-slider [(ngModel)]="config.scale"
                  [step]="0.1"
                  [min]="0"
                  [max]="3">
        </p-slider>
    </div>
</app-control>
<app-control name="Oomph">
    <div class="slider-wrapper">
        <span>{{config.oomph}}</span>
        <p-slider [(ngModel)]="config.oomph"
                  [step]="0.1"
                  [min]="0"
                  [max]="3">
        </p-slider>
    </div>
</app-control>

<!-- Specific Controls -->
<ng-container [ngSwitch]="config.type">
    <!--  Bar Controls  -->
    <ng-container *ngSwitchCase="VisualizerType.BAR">
        <app-control name="Bar Cap Size">
            <div class="slider-wrapper">
                <span>{{config.barCapSize}}</span>
                <p-slider [(ngModel)]="config.barCapSize"
                          [step]="5"
                          [min]="0"
                          [max]="100">
                </p-slider>
            </div>
        </app-control>
        <app-control name="Bar Size">
            <div class="slider-wrapper">
                <span>{{config.barSize}}</span>
                <p-slider [(ngModel)]="config.barSize"
                          [step]="5"
                          [min]="0"
                          [max]="100">
                </p-slider>
            </div>
        </app-control>
        <app-control name="Bar Spacing">
            <div class="slider-wrapper">
                <span>{{config.barSpacing}}</span>
                <p-slider [(ngModel)]="config.barSpacing"
                          [step]="5"
                          [min]="0"
                          [max]="100">
                </p-slider>
            </div>
        </app-control>
    </ng-container>

    <!--  Barcle Controls  -->
    <ng-container *ngSwitchCase="VisualizerType.BARCLE">
        <app-control name="Base Radius">
            <div class="slider-wrapper">
                <span>{{config.baseRadius}}</span>
                <p-slider [(ngModel)]="config.baseRadius"
                          [step]="5"
                          [min]="0"
                          [max]="100">
                </p-slider>
            </div>
        </app-control>
    </ng-container>

    <!--  Circle Controls  -->
    <ng-container *ngSwitchCase="VisualizerType.CIRCLE">
        <app-control name="Base Radius">
            <div class="slider-wrapper">
                <span>{{config.baseRadius}}</span>
                <p-slider [(ngModel)]="config.baseRadius"
                          [step]="5"
                          [min]="0"
                          [max]="100">
                </p-slider>
            </div>
        </app-control>
        <app-control name="Sample Radius">
            <div class="slider-wrapper">
                <span>{{config.sampleRadius}}</span>
                <p-slider [(ngModel)]="config.sampleRadius"
                          [step]="5"
                          [min]="0"
                          [max]="100">
                </p-slider>
            </div>
        </app-control>
    </ng-container>
</ng-container>

<p-button pRipple class="control-remove-btn" label="Remove" (onClick)="onRemove()"></p-button>
