<!-- Shared Controls -->
<app-control name="Mode">
    <nz-radio-group [(ngModel)]="config.mode" nzButtonStyle="solid">
        <label *ngFor="let option of modeOptions" nz-radio-button [nzValue]="option.value">{{option.name}}</label>
    </nz-radio-group>
</app-control>
<app-control name="Decibel Range">
    <div class="slider-wrapper">
        <span>{{decibelRange[0]}}</span>
        <nz-slider nzRange [(ngModel)]="decibelRange" [nzMin]="-100" [nzMax]="0" (ngModelChange)="onDecibelChanged()"></nz-slider>
        <span>{{decibelRange[1]}}</span>
    </div>
</app-control>
<app-control name="Samples">
    <button nz-button nz-dropdown [nzDropdownMenu]="samplesMenu">
        {{config.sampleCount}}
        <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #samplesMenu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            <li *ngFor="let option of sampleCountOptions" nz-menu-item (click)="config.sampleCount = option">{{option}}</li>
        </ul>
    </nz-dropdown-menu>
</app-control>
<app-control name="Scale">
    <div class="slider-wrapper">
        <span>{{config.scale}}</span>
        <nz-slider [(ngModel)]="config.scale" [nzStep]="0.05" [nzMin]="0" [nzMax]="1"></nz-slider>
    </div>
</app-control>
<app-control name="Oomph">
    <div class="slider-wrapper">
        <span>{{config.oomph}}</span>
        <nz-slider [(ngModel)]="config.oomph" [nzStep]="0.05" [nzMin]="0" [nzMax]="3"></nz-slider>
    </div>
</app-control>

<!-- Specific Controls -->
<ng-container [ngSwitch]="config.type">
    <!--  Bar Controls  -->
    <ng-container *ngSwitchCase="VisualizerType.BAR">
        <app-control name="Bar Cap Size">
            <div class="slider-wrapper">
                <span>{{config.barCapSize}}</span>
                <nz-slider [(ngModel)]="config.barCapSize" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
        <app-control name="Bar Size">
            <div class="slider-wrapper">
                <span>{{config.barSize}}</span>
                <nz-slider [(ngModel)]="config.barSize" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
        <app-control name="Bar Spacing">
            <div class="slider-wrapper">
                <span>{{config.barSpacing}}</span>
                <nz-slider [(ngModel)]="config.barSpacing" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
    </ng-container>

    <!--  Barcle Controls  -->
    <ng-container *ngSwitchCase="VisualizerType.BARCLE">
        <app-control name="Base Radius">
            <div class="slider-wrapper">
                <span>{{config.baseRadius}}</span>
                <nz-slider [(ngModel)]="config.baseRadius" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
    </ng-container>

    <!--  Circle Controls  -->
    <ng-container *ngSwitchCase="VisualizerType.CIRCLE">
        <app-control name="Base Radius">
            <div class="slider-wrapper">
                <span>{{config.baseRadius}}</span>
                <nz-slider [(ngModel)]="config.baseRadius" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
        <app-control name="Sample Radius">
            <div class="slider-wrapper">
                <span>{{config.sampleRadius}}</span>
                <nz-slider [(ngModel)]="config.sampleRadius" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
    </ng-container>
</ng-container>

<button class="remove-btn" nz-button nzType="primary" (click)="onRemove()"><i nz-icon nzType="delete"></i>Remove</button>
