<div class="control-wrapper">
    <span>Bar Cap Size</span>
    <div class="slider-wrapper">
        <span>{{barCapSize}}</span>
        <p-slider [(ngModel)]="barCapSize"
                  [step]="5"
                  [min]="0"
                  [max]="100"
                  (onChange)="barCapSizeChange.emit(barCapSize)">
        </p-slider>
    </div>
</div>
<div class="control-wrapper">
    <span>Bar Size</span>
    <div class="slider-wrapper">
        <span>{{barSize}}</span>
        <p-slider [(ngModel)]="barSize"
                  [step]="5"
                  [min]="0"
                  [max]="100"
                  (onChange)="barSizeChange.emit(barSize)">
        </p-slider>
    </div>
</div>
<div class="control-wrapper">
    <span>Bar Spacing</span>
    <div class="slider-wrapper">
        <span>{{barSpacing}}</span>
        <p-slider [(ngModel)]="barSpacing"
                  [step]="5"
                  [min]="0"
                  [max]="100"
                  (onChange)="barSpacingChange.emit(barSpacing)">
        </p-slider>
    </div>
</div>
<div class="control-wrapper">
    <span>Scale</span>
    <div class="slider-wrapper">
        <span>{{scale}}</span>
        <p-slider [(ngModel)]="scale"
                  [step]="0.1"
                  [min]="0"
                  [max]="3"
                  (onChange)="onScaleChanged()">
        </p-slider>
    </div>
</div>
<div class="control-wrapper">
    <span>Oomph</span>
    <div class="slider-wrapper">
        <span>{{oomph}}</span>
        <p-slider [(ngModel)]="oomph"
                  [step]="0.1"
                  [min]="0"
                  [max]="3"
                  (onChange)="onOomphChanged()">
        </p-slider>
    </div>
</div>
<p-button pRipple class="control-remove-btn" label="Remove" (onClick)="onRemove()"></p-button>
