<div class="control-wrapper">
    <span>Base Radius</span>
    <div class="slider-wrapper">
        <span>{{baseRadius}}</span>
        <p-slider [(ngModel)]="baseRadius"
                  [step]="5"
                  [min]="0"
                  [max]="100"
                  (onChange)="onBaseRadiusChanged()">
        </p-slider>
    </div>
</div>
<div class="control-wrapper">
    <span>Sample Radius</span>
    <div class="slider-wrapper">
        <span>{{sampleRadius}}</span>
        <p-slider [(ngModel)]="sampleRadius"
                  [step]="5"
                  [min]="0"
                  [max]="100"
                  (onChange)="onSampleRadiusChanged()">
        </p-slider>
    </div>
</div>
<div class="control-wrapper">
    <span>Scale</span>
    <div class="slider-wrapper">
        <span>{{scale}}</span>
        <p-slider [(ngModel)]="scale"
                  [step]="0.1"
                  [min]="0"
                  [max]="3"
                  (onChange)="onScaleChanged()">
        </p-slider>
    </div>
</div>
<div class="control-wrapper">
    <span>Oomph</span>
    <div class="slider-wrapper">
        <span>{{oomph}}</span>
        <p-slider [(ngModel)]="oomph"
                  [step]="0.1"
                  [min]="0"
                  [max]="3"
                  (onChange)="onOomphChanged()">
        </p-slider>
    </div>
</div>
<p-button class="control-remove-btn" label="Remove" (onClick)="onRemove()"></p-button>
