<div class="card">
    <span class="card-header">
        <span class="card-title">{{name}}</span>
        <nz-button-group>
            <button class="add-btn" nz-button nzType="primary" (click)="onAddOptionClicked(selectedAddOption)">
                    <i nz-icon nzType="plus"></i>
                {{'Add ' + selectedAddOption}}
            </button>
            <button class="expand-btn" nz-button nz-dropdown nzType="primary" [nzDropdownMenu]="menu"  nzTrigger="click" nzPlacement="bottomRight" [title]="'Select ' + name">
                <i nz-icon nzType="ellipsis"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li *ngFor="let option of addOptions" nz-menu-item (click)="onAddOptionClicked(option)">{{option}}</li>
                </ul>
            </nz-dropdown-menu>
        </nz-button-group>
    </span>

    <ng-container *ngIf="configs.length > 0">
        <ul class="list">
            <li class="list-item"
                    @controllerEnterLeaveTrigger
                    *ngFor="let config of configs; let i = index">
                <button class="primary-btn" nz-button
                        [nzType]="activeConfig === config ? 'primary' : 'default'"
                        (click)="onConfigSelected($event, config)">
                    {{config.name}}
                </button>
                <button nz-button
                        title="Move Up"
                        (click)="moveUp.emit(i)">
                    <i nz-icon nzType="up"></i>
                </button>
                <button nz-button
                        title="Move Down"
                        (click)="moveDown.emit(i)">
                    <i nz-icon nzType="down"></i>
                </button>
                <button nz-button
                        title="Duplicate"
                        (click)="duplicate.emit(i)">
                    <i nz-icon nzType="copy"></i>
                </button>
                <button nz-button
                        nzDanger
                        title="Remove"
                        (click)="remove.emit(config)">
                    <i nz-icon nzType="delete"></i>
                </button>
            </li>
        </ul>
    </ng-container>

    <ng-container *ngIf="activeConfig">
        <app-entity-controller class="control-group" *ngIf="type === 'entity'"
                               @controllerEnterLeaveTrigger
                               [entity]="activeConfigAsEntity">
        </app-entity-controller>
        <app-entity-emitter-controller class="control-group" *ngIf="type === 'emitter'"
                                       @controllerEnterLeaveTrigger
                                       [emitter]="activeConfigAsEmitter">
        </app-entity-emitter-controller>
    </ng-container>
</div>
