<div [ngSwitch]="config.type"
     [class.outline]="showOutline">
    <lib-bar-visualizer *ngSwitchCase="VisualizerType.BAR"
                        [amplitudes]="config.amplitudes"
                        [animationStopTime]="config.animationStopTime"
                        [audioConfig]="config.audioConfig"
                        [scale]="config.scale"
                        [startColorHex]="config.startColorHex"
                        [endColorHex]="config.endColorHex"
                        [oomph]="config.oomph"
                        [maxDecibels]="config.maxDecibels"
                        [minDecibels]="config.minDecibels"
                        [mode]="config.mode"
                        [sampleCount]="config.sampleCount"
                        [showLowerData]="config.showLowerData"
                        [looseCaps]="config.looseCaps"
                        [barCapSize]="config.barCapSize"
                        [barSize]="config.barSize"
                        [barCapColor]="config.barCapColor"
                        [barSpacing]="config.barSpacing"
                        [barOrientation]="config.barOrientation">
    </lib-bar-visualizer>
    <lib-barcle-visualizer *ngSwitchCase="VisualizerType.BARCLE"
                           [amplitudes]="config.amplitudes"
                           [animationStopTime]="config.animationStopTime"
                           [audioConfig]="config.audioConfig"
                           [scale]="config.scale"
                           [startColorHex]="config.startColorHex"
                           [endColorHex]="config.endColorHex"
                           [oomph]="config.oomph"
                           [maxDecibels]="config.maxDecibels"
                           [minDecibels]="config.minDecibels"
                           [mode]="config.mode"
                           [sampleCount]="config.sampleCount"
                           [showLowerData]="config.showLowerData"
                           [baseRadius]="config.baseRadius">
    </lib-barcle-visualizer>
    <lib-circle-visualizer *ngSwitchCase="VisualizerType.CIRCLE"
                           [amplitudes]="config.amplitudes"
                           [animationStopTime]="config.animationStopTime"
                           [audioConfig]="config.audioConfig"
                           [scale]="config.scale"
                           [startColorHex]="config.startColorHex"
                           [endColorHex]="config.endColorHex"
                           [oomph]="config.oomph"
                           [maxDecibels]="config.maxDecibels"
                           [minDecibels]="config.minDecibels"
                           [mode]="config.mode"
                           [sampleCount]="config.sampleCount"
                           [showLowerData]="config.showLowerData"
                           [baseRadius]="config.baseRadius"
                           [sampleRadius]="config.sampleRadius"
                           [effect]="config.effect">
    </lib-circle-visualizer>
</div>
