<div [ngSwitch]="config.type"
     [class.outline]="showOutline">
    <lib-bar-visualizer *ngSwitchCase="VisualizerType.BAR"
                        [audioConfig]="config.audioConfig"
                        [scale]="config.scale"
                        [startColorHex]="config.startColorHex"
                        [endColorHex]="config.endColorHex"
                        [oomph]="config.oomph"
                        [looseCaps]="config.looseCaps"
                        [barCapSize]="config.barCapSize"
                        [barSize]="config.barSize"
                        [barCapColor]="config.barCapColor"
                        [barSpacing]="config.barSpacing"
                        [barOrientation]="config.barOrientation">
    </lib-bar-visualizer>
    <lib-barcle-visualizer *ngSwitchCase="VisualizerType.BARCLE"
                           [audioConfig]="config.audioConfig"
                           [scale]="config.scale"
                           [startColorHex]="config.startColorHex"
                           [endColorHex]="config.endColorHex"
                           [oomph]="config.oomph"
                           [baseRadius]="config.baseRadius">
    </lib-barcle-visualizer>
    <lib-circle-visualizer *ngSwitchCase="VisualizerType.CIRCLE"
                           [audioConfig]="config.audioConfig"
                           [scale]="config.scale"
                           [startColorHex]="config.startColorHex"
                           [endColorHex]="config.endColorHex"
                           [oomph]="config.oomph"
                           [baseRadius]="config.baseRadius"
                           [sampleRadius]="config.sampleRadius"
                           [effect]="config.effect">
    </lib-circle-visualizer>
</div>
