<ng-container [ngSwitch]="config.type">
    <lib-bar-visualizer *ngSwitchCase="VisualizerType.BAR"
                        [amplitudes]="config.amplitudes"
                        [animationStopTime]="config.animationStopTime"
                        [audioConfig]="config.audioConfig"
                        [scale]="config.scale"
                        [shadowBlur]="config.shadowBlur"
                        [startColorHex]="config.startColorHex"
                        [endColorHex]="config.endColorHex"
                        [multiplier]="config.multiplier"
                        [sampleCount]="config.sampleCount"
                        [looseCaps]="config.looseCaps"
                        [barCapSize]="config.barCapSize"
                        [barSize]="config.barSize"
                        [barCapColor]="config.barCapColor"
                        [barSpacing]="config.barSpacing"
                        [barOrientation]="config.barOrientation">
    </lib-bar-visualizer>
    <lib-barcle-visualizer *ngSwitchCase="VisualizerType.BARCLE"
                           [amplitudes]="config.amplitudes"
                           [animationStopTime]="config.animationStopTime"
                           [audioConfig]="config.audioConfig"
                           [scale]="config.scale"
                           [shadowBlur]="config.shadowBlur"
                           [startColorHex]="config.startColorHex"
                           [endColorHex]="config.endColorHex"
                           [multiplier]="config.multiplier"
                           [sampleCount]="config.sampleCount"
                           [baseRadius]="config.baseRadius">
    </lib-barcle-visualizer>
    <lib-circle-visualizer *ngSwitchCase="VisualizerType.CIRCLE"
                           [amplitudes]="config.amplitudes"
                           [animationStopTime]="config.animationStopTime"
                           [audioConfig]="config.audioConfig"
                           [scale]="config.scale"
                           [shadowBlur]="config.shadowBlur"
                           [startColorHex]="config.startColorHex"
                           [endColorHex]="config.endColorHex"
                           [multiplier]="config.multiplier"
                           [sampleCount]="config.sampleCount"
                           [baseRadius]="config.baseRadius"
                           [sampleRadius]="config.sampleRadius"
                           [effect]="config.effect">
    </lib-circle-visualizer>
</ng-container>
