<audio #audio [src]="audioService.activeSource.src" (ended)="onEnded()"></audio>

<div #entityView class="entity-view"
     (click)="onEntityViewClicked()">
    <button class="control-view-toggle" [ngStyle]="{ 'margin-right.px': controlViewWidth + 8 }"
            nz-button nzType="primary" title="Toggle"
            (click)="toggleControlView()">
        <i nz-icon [ngStyle]="{ transform: isControlViewOpen ? 'rotate(0deg)' : 'rotate(-180deg)' }" [nzType]="'right'"></i>
    </button>
    <div #entityViewContent class="entity-view-content">
        <img class="background-image" [ngStyle]="{ opacity: 0.5 }" [src]="backgroundImageService.activeSource.src" alt="Background Image" draggable="false">
        <app-entity class="entity"
                    *ngFor="let entity of entityService.entities"
                    [@entityEnterTrigger]="{ value: ':enter', params: { speed: entity.fadeTime } }"
                    [@entityLeaveTrigger]="{ value: ':leave', params: { speed: entity.fadeTime } }"
                    [boundaryElement]="entityView"
                    [oomph]="audioService.oomph"
                    [viewScale]="entityViewContentScale"
                    [showOutline]="entity === entityService.activeEntity"
                    [config]="entity"
                    [animateMovement]="entity.animateMovement"
                    [animateRotation]="entity.animateRotation"
                    [animateOomph]="entity.animateOomphInEntity"
                    [movementAngle]="entity.movementAngle"
                    [rotation]="entity.rotation"
                    [rotationDirection]="entity.rotationDirection"
                    [rotationSpeed]="entity.rotationSpeed"
                    (click)="onEntitySelected(entity, $event)">
        </app-entity>

        <app-entity class="emitted-entity"
                    *ngFor="let entity of entityService.emittedEntities"
                    [@entityEnterTrigger]="{ value: ':enter', params: { speed: entity.fadeTime } }"
                    [@entityLeaveTrigger]="{ value: ':leave', params: { speed: entity.fadeTime } }"
                    [boundaryElement]="entityView"
                    [config]="entity"
                    [oomph]="audioService.oomph"
                    [viewScale]="entityViewContentScale"
                    [animateMovement]="entity.animateMovement"
                    [animateRotation]="entity.animateRotation"
                    [animateOomph]="entity.animateOomphInEntity"
                    [movementAngle]="entity.movementAngle"
                    [rotation]="entity.rotation"
                    [rotationDirection]="entity.rotationDirection"
                    [rotationSpeed]="entity.rotationSpeed">
        </app-entity>

        <!-- Todo add height animations based on active -->
        <app-entity-emitter class="entity-emitter"
                            *ngFor="let emitter of entityEmitterService.emitters"
                            @entityEmitterEnterLeaveTrigger
                            [ngStyle]="{ 'transform': emitter === entityEmitterService.activeEmitter ? 'scale(1)' : 'scale(0)' }"
                            [config]="emitter"
                            [viewScale]="entityViewContentScale"
                            (click)="onEmitterSelected(emitter, $event)">
        </app-entity-emitter>
    </div>
</div>

<div class="control-view" [ngStyle]="{ 'width.px': controlViewWidth }">
    <div class="control-view-content" [ngStyle]="{ 'min-width.px': controlViewContentWidth }">
        <div class="card">
            <div class="media-controls">
                <button class="secondary-media-btn" nz-button nzShape="circle" title="Next" (click)="onPrevSong()">
                    <i nz-icon nzType="step-backward"></i>
                </button>
                <button class="primary-media-btn" nz-button nzType="primary" [title]="isPlaying ? 'Pause' : 'Play'" nzShape="circle" (click)="onPlayPause()">
                    <i nz-icon [nzType]="isPlaying ? 'pause' : 'caret-right'"></i>
                </button>
                <button class="secondary-media-btn" nz-button nzShape="circle" title="Previous" (click)="onNextSong()">
                    <i nz-icon nzType="step-forward"></i>
                </button>
            </div>
            <nz-collapse>
                <nz-collapse-panel  class="control-group" nzHeader="Options">
                    <app-control-line name="Preset">
                        <nz-select [ngModel]="presetService.activePreset"
                                   (ngModelChange)="presetService.setActivePreset($event)">
                            <nz-option *ngFor="let option of presetService.presets" [nzValue]="option"
                                       [nzLabel]="option.name">
                            </nz-option>
                        </nz-select>
                        <button nz-button
                                nz-popover
                                nzPopoverTitle="Save Current As Preset"
                                nzPopoverTrigger="click"
                                [(nzPopoverVisible)]="savePresetPopOverVisible"
                                [nzPopoverContent]="savePresetTemplate">
                            <i nz-icon nzType="save"></i>
                        </button>
                        <ng-template #savePresetTemplate>
                            <input #savePresetNameInput nz-input placeholder="Preset Name"/>
                            <span class="popover-action-buttons">
                                <button nz-button nzDanger (click)="savePresetPopOverVisible = false">
                                    <i nz-icon nzType="close"></i>
                                </button>
                                <button nz-button nzType="primary"
                                        (click)="presetService.saveCurrentAsPreset(savePresetNameInput.value); savePresetPopOverVisible = false">
                                    <i nz-icon nzType="check"></i>
                                </button>
                            </span>
                        </ng-template>
                    </app-control-line>
                    <app-control-line name="Song">
                        <nz-select [ngModel]="audioService.activeSource"
                                   (ngModelChange)="audioService.setActiveSource($event)">
                            <nz-option *ngFor="let option of audioService.sources" [nzValue]="option"
                                       [nzLabel]="option.name">
                            </nz-option>
                        </nz-select>
                        <input #audioFileInput type="file" id="audioFile" hidden accept="audio/*" multiple
                               (change)="onAudioFileUpload()"/>
                        <button nz-button (click)="audioFileInput.click()">
                            <i nz-icon nzType="upload"></i>
                        </button>
                    </app-control-line>
                    <app-control-line name="Background Image">
                        <nz-select [ngModel]="backgroundImageService.activeSource"
                                   (ngModelChange)="backgroundImageService.setActiveSource($event)">
                            <nz-option *ngFor="let option of backgroundImageService.sources" [nzValue]="option"
                                       [nzLabel]="option.name">
                            </nz-option>
                        </nz-select>
                        <button nz-button
                                nz-popover
                                nzPopoverTitle="Add Image Link"
                                nzPopoverTrigger="click"
                                [(nzPopoverVisible)]="addUrlPopOverVisible"
                                [nzPopoverContent]="addUrlTemplate">
                            <i nz-icon nzType="link"></i>
                        </button>
                        <ng-template #addUrlTemplate>
                            <input #addImageNameInput nz-input placeholder="Name"/>
                            <input #addImageUrlInput nz-input placeholder="link.to.image.png"/>
                            <span class="popover-action-buttons">
                                <button nz-button nzDanger (click)="addUrlPopOverVisible = false">
                                    <i nz-icon nzType="close"></i>
                                </button>
                                <button nz-button nzType="primary" (click)="onAddUrl(addImageUrlInput.value, addImageNameInput.value)">
                                    <i nz-icon nzType="check"></i>
                                </button>
                            </span>
                        </ng-template>
                        <input #backgroundFileInput type="file" id="backgroundFile" hidden accept="image/*" multiple
                               (change)="onBackgroundFileUpload()"/>
                        <button nz-button (click)="backgroundFileInput.click()">
                            <i nz-icon nzType="upload"></i>
                        </button>
                    </app-control-line>
                    <app-control-line name="Mode">
                        <nz-radio-group [(ngModel)]="audioService.mode">
                            <label *ngFor="let option of modeOptions" nz-radio-button
                                   [nzValue]="option.value">{{option.name}}</label>
                        </nz-radio-group>
                    </app-control-line>
                    <app-control-line name="Decibel Range">
                        <span class="slider-text">{{decibelRange[0]}}</span>
                        <nz-slider nzRange [(ngModel)]="decibelRange" [nzMin]="-100" [nzMax]="0"
                                   (ngModelChange)="onDecibelChanged()"></nz-slider>
                        <span class="slider-text">{{decibelRange[1]}}</span>
                    </app-control-line>
                </nz-collapse-panel>
            </nz-collapse>
        </div>

        <app-controller-wrapper type="entity"
                                [configs]="entityService.entities"
                                [activeConfig]="entityService.activeEntity"
                                [addOptions]="addEntityOptions"
                                (configSelect)="onEntitySelected($event)"
                                (add)="onAddEntity($event)"
                                (remove)="onRemoveEntity($event)"
                                (close)="entityService.activeEntity = null"
                                (duplicateActive)="entityService.duplicateActive()">
        </app-controller-wrapper>

        <app-controller-wrapper type="emitter"
                                [configs]="entityEmitterService.emitters"
                                [activeConfig]="entityEmitterService.activeEmitter"
                                [addOptions]="addEmitterOptions"
                                (configSelect)="onEmitterSelected($event)"
                                (add)="onAddEmitter($event)"
                                (remove)="onRemoveEmitter($event)"
                                (close)="entityEmitterService.activeEmitter = null"
                                (duplicateActive)="entityEmitterService.duplicateActive()">
        </app-controller-wrapper>
    </div>
</div>
