:host {
  background-color: black;
  display: flex;
  height: auto
}

.visualizer-view {
  flex: auto;
}

.control-view {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 8px;
  background-color: green;
}

.add-btn {
  margin-left: 8px;
}

.media-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 16px
}

.song-select {
  align-self: center;
}

.primary-media-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.secondary-media-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

:host::ng-deep {
  .primary-media-btn .p-button-icon {
    font-size: 30px;
  }

  .secondary-media-btn .p-button-icon {
    font-size: 20px;
  }
}
