<audio #audio [src]="audioService.activeSrc" (ended)="onEnded()"></audio>

<div #visualizerView class="visualizer-view"
     (click)="onVisualizerViewClicked()">
    <app-entity class="visualizer"
                @visualizerEnterLeaveTrigger
                *ngFor="let visualizer of entityService.visualizers"
                [boundaryElement]="visualizerView"
                [config]="visualizer"
                [showOutline]="visualizer === entityService.activeVisualizer"
                (click)="onVisualizerSelected(visualizer, $event)">
    </app-entity>

    <app-entity @visualizerEnterLeaveTrigger
                *ngFor="let visualizer of entityService.emittedVisualizers"
                [boundaryElement]="visualizerView"
                [config]="visualizer">
    </app-entity>

    <app-entity-emitter class="visualizer-emitter"
                        @visualizerEnterLeaveTrigger
                        *ngFor="let emitter of entityEmitterService.emitters"
                        [config]="emitter"
                        (click)="onEmitterSelected(emitter, $event)">
    </app-entity-emitter>
</div>

<div class="control-view">
    <div class="card">
        <div class="media-controls">
            <button class="secondary-media-btn" nz-button nzShape="circle" title="Next" (click)="onPrevSong()">
                <i nz-icon nzType="step-backward"></i>
            </button>
            <button class="primary-media-btn" nz-button nzType="primary" [title]="isPlaying ? 'Pause' : 'Play'" nzShape="circle" (click)="onPlayPause()">
                <i nz-icon [nzType]="isPlaying ? 'pause' : 'caret-right'"></i>
            </button>
            <button class="secondary-media-btn" nz-button nzShape="circle" title="Previous" (click)="onNextSong()">
                <i nz-icon nzType="step-forward"></i>
            </button>
        </div>

        <span>
            <nz-divider nzText="Options"></nz-divider>
        </span>
        <div class="control-group">
            <app-control-line name="Song">
                <div class="song-select-wrapper">
                    <nz-select [(ngModel)]="selectedAudioConfig" (ngModelChange)="audioService.setActiveConfig(selectedAudioConfig)">
                        <nz-option *ngFor="let option of audioService.audioConfigs" [nzValue]="option" [nzLabel]="getAudioName(option)"></nz-option>
                    </nz-select>
                    <input #fileInput type="file" id="file" hidden accept="audio/*" multiple (change)="onFileChange()"/>
                    <button nz-button (click)="fileInput.click()">
                        <i nz-icon nzType="upload"></i>
                        Upload Files
                    </button>
                </div>
            </app-control-line>
            <app-control-line name="Mode">
                <nz-radio-group [(ngModel)]="audioService.mode">
                    <label *ngFor="let option of modeOptions" nz-radio-button [nzValue]="option.value">{{option.name}}</label>
                </nz-radio-group>
            </app-control-line>
            <app-control-line name="Decibel Range">
                <!-- TODO: replace spans with number inputs -->
                <div class="slider-wrapper">
                    <span>{{decibelRange[0]}}</span>
                    <nz-slider nzRange [(ngModel)]="decibelRange" [nzMin]="-100" [nzMax]="0" (ngModelChange)="onDecibelChanged()"></nz-slider>
                    <span>{{decibelRange[1]}}</span>
                </div>
            </app-control-line>
        </div>
    </div>

    <app-controller-wrapper type="visualizer"
                            [configs]="entityService.visualizers"
                            [activeConfig]="entityService.activeVisualizer"
                            [addOptions]="addVisualizerOptions"
                            (configSelect)="onVisualizerSelected($event)"
                            (add)="onAddVisualizer($event)"
                            (remove)="onRemoveVisualizer($event)" >
    </app-controller-wrapper>

    <app-controller-wrapper type="emitter"
                            [configs]="entityEmitterService.emitters"
                            [activeConfig]="entityEmitterService.activeEmitter"
                            [addOptions]="addEmitterOptions"
                            (configSelect)="onEmitterSelected($event)"
                            (add)="onAddEmitter($event)"
                            (remove)="onRemoveEmitter($event)" >
    </app-controller-wrapper>
</div>
