:host {
  display: flex;
  height: 100%;
  //overflow-y: hidden;
}

.visualizer-view {
  flex: auto;
  position: relative;
  overflow: hidden;
}

.control-view {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 8px;
  gap: 8px;
  background-color: #1F1F1F;
  overflow-y: auto;
}

.add-btn {
  margin-left: 8px;
}

.control-group.main-controls {
  align-items: center;
}

.media-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px
}

.song-select {
  align-self: center;
}

.primary-media-btn {
  width: 80px;
  height: 80px;

  .anticon {
    font-size: 40px;
  }
}

.secondary-media-btn {
  width: 60px;
  height: 60px;

  .anticon {
    font-size: 25px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow: auto;
}

.list-item {
  margin-bottom: 8px;
}

.list-item:last-child {
  margin-bottom: 0;
}