:host {
  display: flex;
  height: 100%;
}

.entity-view {
  flex: auto;
  position: relative;
  overflow: hidden;
}

.control-view {
  z-index: 3;
  flex: none;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 8px;
  gap: 8px;
  background-color: #1F1F1F;
  overflow-y: auto;
}

.entity {
  z-index: 2;
}

.emitted-entity {
  z-index: 0;
}

.entity-emitter {
  z-index: 1;
}

.media-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px
}

.primary-media-btn {
  width: 80px;
  height: 80px;

  .anticon {
    font-size: 40px;
  }
}

.secondary-media-btn {
  width: 60px;
  height: 60px;

  .anticon {
    font-size: 25px;
  }
}

nz-radio-group.control-content {
  display: flex;

  * {
    flex-grow: 1;
    text-align: center;
  }
}