<nz-collapse>
    <nz-collapse-panel nzHeader="Entity Emitter Options">
        <app-control-line name="Emitter Type">
            <nz-radio-group [(ngModel)]="config.emitterType">
                <label *ngFor="let option of emitterTypeOptions" nz-radio-button [nzValue]="option">{{option}}</label>
            </nz-radio-group>
        </app-control-line>

        <app-control-line name="Interval">
            <div class="slider-wrapper">
                <nz-input-number [(ngModel)]="config.interval" [nzStep]="0.1" [nzMin]="0" [nzMax]="10"></nz-input-number>
                <nz-slider [(ngModel)]="config.interval" [nzStep]="0.1" [nzMin]="0" [nzMax]="10"></nz-slider>
            </div>
        </app-control-line>
        <app-control-line name="Lifespan">
            <div class="slider-wrapper">
                <nz-input-number [(ngModel)]="config.lifespan" [nzStep]="0.1" [nzMin]="0" [nzMax]="10"></nz-input-number>
                <nz-slider [(ngModel)]="config.lifespan" [nzStep]="0.1" [nzMin]="0" [nzMax]="10"></nz-slider>
            </div>
        </app-control-line>
    </nz-collapse-panel>
</nz-collapse>

<app-entity-controller [config]="config.entity"></app-entity-controller>