<app-control name="Emitter Type">
    <nz-radio-group [(ngModel)]="config.emitterType">
        <label *ngFor="let option of emitterTypeOptions" nz-radio-button [nzValue]="option">{{option}}</label>
    </nz-radio-group>
</app-control>

<app-control name="Visualizer Type">
    <button nz-button nz-dropdown [nzDropdownMenu]="visualizerMenu">
        {{config.visualizer.type}}
        <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #visualizerMenu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            <li *ngFor="let option of visualizerTypeOptions" nz-menu-item (click)="onVisualizerTypeChange(option)">{{option}}</li>
        </ul>
    </nz-dropdown-menu>
</app-control>
<app-control name="Interval">
    <div class="slider-wrapper">
        <nz-input-number [(ngModel)]="config.interval" [nzStep]="0.1" [nzMin]="0" [nzMax]="10"></nz-input-number>
        <nz-slider [(ngModel)]="config.interval" [nzStep]="0.1" [nzMin]="0" [nzMax]="10"></nz-slider>
    </div>
</app-control>
<app-control name="Lifespan">
    <div class="slider-wrapper">
        <nz-input-number [(ngModel)]="config.lifespan" [nzStep]="0.1" [nzMin]="0" [nzMax]="10"></nz-input-number>
        <nz-slider [(ngModel)]="config.lifespan" [nzStep]="0.1" [nzMin]="0" [nzMax]="10"></nz-slider>
    </div>
</app-control>
<app-control name="Random Colors">
    <nz-switch [(ngModel)]="config.randomizeColors"
               (ngModelChange)="config.visualizer.disableColorEdit = config.randomizeColors">
    </nz-switch>
</app-control>

<span>
    <nz-divider nzText="Modify Emitter Visualizer"></nz-divider>
</span>

<app-visualizer-controller [config]="config.visualizer"></app-visualizer-controller>