<nz-collapse>
    <nz-collapse-panel nzHeader="Image Options">
        <app-control-line name="Image">
            <app-source-picker allowFileAdd="true"
                               allowUrlAdd="true"
                               fileAcceptTypes="image/*"
                               popoverTitle="Add Image"
                               [activeSource]="entity.entityContent.source"
                               [sources]="imageSourceService.sources"
                               (activeSourceChanged)="onSourceChange($event)"
                               (addFile)="imageSourceService.addFileSource($event.name, $event.file, true)"
                               (addUrl)="imageSourceService.addUrlSource($event.name,$event.url)">
            </app-source-picker>
        </app-control-line>
    </nz-collapse-panel>
</nz-collapse>
