<!-- Shared Controls -->
<app-control name="Samples">
    <button nz-button nz-dropdown [nzDropdownMenu]="samplesMenu">
        {{config.sampleCount}}
        <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #samplesMenu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            <li *ngFor="let option of sampleCountOptions" nz-menu-item (click)="onSampleCountChanged(option)">{{option}}</li>
        </ul>
    </nz-dropdown-menu>
</app-control>
<app-control name="Scale">
    <div class="slider-wrapper">
        <nz-input-number [(ngModel)]="config.scale" [nzStep]="0.1" [nzMin]="0" [nzMax]="5"></nz-input-number>
        <nz-slider [(ngModel)]="config.scale" [nzStep]="0.1" [nzMin]="0" [nzMax]="5"></nz-slider>
    </div>
</app-control>
<app-control name="Multiplier">
    <div class="slider-wrapper">
        <nz-input-number [(ngModel)]="config.multiplier" [nzStep]="0.1" [nzMin]="0" [nzMax]="5"></nz-input-number>
        <nz-slider [(ngModel)]="config.multiplier" [nzStep]="0.1" [nzMin]="0" [nzMax]="5"></nz-slider>
    </div>
</app-control>
<app-control name="Shadow Blur">
    <div class="slider-wrapper">
        <nz-input-number [(ngModel)]="config.shadowBlur" [nzStep]="1" [nzMin]="0" [nzMax]="50"></nz-input-number>
        <nz-slider [(ngModel)]="config.shadowBlur" [nzStep]="1" [nzMin]="0" [nzMax]="50"></nz-slider>
    </div>
</app-control>

<!-- Specific Controls -->
<ng-container [ngSwitch]="config.type">
    <!--  Bar Controls  -->
    <ng-container *ngSwitchCase="VisualizerType.BAR">
        <app-control name="Bar Cap Size">
            <div class="slider-wrapper">
                <nz-input-number [(ngModel)]="config.barCapSize" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-input-number>
                <nz-slider [(ngModel)]="config.barCapSize" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
        <app-control name="Bar Size">
            <div class="slider-wrapper">
                <nz-input-number [(ngModel)]="config.barSize" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-input-number>
                <nz-slider [(ngModel)]="config.barSize" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
        <app-control name="Bar Spacing">
            <div class="slider-wrapper">
                <nz-input-number [(ngModel)]="config.barSpacing" [nzStep]="1" [nzMin]="0" [nzMax]="50"></nz-input-number>
                <nz-slider [(ngModel)]="config.barSpacing" [nzStep]="1" [nzMin]="0" [nzMax]="50"></nz-slider>
            </div>
        </app-control>
        <app-control name="Loose Caps">
            <nz-switch [(ngModel)]="config.looseCaps"></nz-switch>
        </app-control>
    </ng-container>

    <!--  Barcle Controls  -->
    <ng-container *ngSwitchCase="VisualizerType.BARCLE">
        <app-control name="Base Radius">
            <div class="slider-wrapper">
                <nz-input-number [(ngModel)]="config.baseRadius" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-input-number>
                <nz-slider [(ngModel)]="config.baseRadius" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
    </ng-container>

    <!--  Circle Controls  -->
    <ng-container *ngSwitchCase="VisualizerType.CIRCLE">
        <app-control name="Base Radius">
            <div class="slider-wrapper">
                <nz-input-number [(ngModel)]="config.baseRadius" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-input-number>
                <nz-slider [(ngModel)]="config.baseRadius" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
        <app-control name="Sample Radius">
            <div class="slider-wrapper">
                <nz-input-number [(ngModel)]="config.sampleRadius" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-input-number>
                <nz-slider [(ngModel)]="config.sampleRadius" [nzStep]="5" [nzMin]="0" [nzMax]="100"></nz-slider>
            </div>
        </app-control>
    </ng-container>
</ng-container>